@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.principal {
    overflow-x: hidden;
    margin-top: 40px;

    @media(max-width:600px) {
        margin-top: 20px;
    }

    .header {
        div {
            img {
                height: 400px;
                width: 100vw;
                object-fit: cover;

                @media(max-width:600px) {
                    height: 200px;
                    width: 100vw;
                }
            }

            &__carro1 {
                margin: auto;
            }
        }
    }

    .livros {
        margin: 0 auto;

        @media(max-width:600px) {
            margin: 0 0 0 10px;
        }

        img {
            height: 300px;
            width: 200px;
            object-fit: cover;
            border-radius: 5px;

            @media(max-width:1000px) {
                height: 190px;
                width: 130px;
            }

            @media(max-width:600px) {
                height: 150px;
                width: 100px;
            }
        }

        &__infs {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            height: 80px;
            width: 200px;

            @media(max-width:1000px) {
                width: 130px;
            }

            @media(max-width:600px) {
                width: 100px;
            }

            label {
                width: 200px;
                height: 20px;
                font-weight: 600;
                font-size: .9rem;
                text-align: center;

                @media(max-width:1000px) {
                    width: 130px;
                    font-size: .7rem;
                    margin: 5px 0;
                }

                @media(max-width:600px) {
                    width: 130px;
                    font-size: .7rem;
                    margin: 5px 0;
                }
            }

            &__1dv {
                height: 50px;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                width: 100%;

                strong {
                    color: black;
                    font-weight: 600;
                }

                button {
                    background-color: rgb(250, 133, 0);
                    padding: 10px 0;
                    margin: 0 auto;
                    color: white;
                    border: 0;
                    border-radius: 2px;
                    cursor: pointer;
                    font-weight: 600;
                    width: 100%;
                    box-shadow: 5px 5px 5px gray;

                    &:hover {
                        background-color: green;
                        color: white;
                        border: 1px solid black;
                    }
                }
            }
        }

    }

    .slid {
        position: relative;
        width: 99vw;
        margin: 55px;

        svg{
            @media(max-width:1000px) {
                width: 30px;
                height: 30px;
            }
        }

       @media(max-width:1000px) {
            margin: 50px auto;
        }

        @media(max-width:600px) {
            margin: 35px 0 0 15px;
        }

        .SetaEsquerda {
            position: absolute;
            left: -50px;
            top: 45%;
            cursor: pointer;
            color: rgb(1, 1, 85);    

            @media(max-width:1000px) {
                display: none;
            }
        }

        .SetaDireita {
            position: absolute;
            right: 5px;
            top: 45%;
            cursor: pointer;
            color: rgb(1, 1, 85);

            @media(max-width:1000px) {
                display: none;
            }
        }

        &__titulo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            @media(max-width:600px) {
                margin-bottom: 20px;
            }

            div {
                display: flex;
                align-items: center;
            }

            h2 {
                font-family: "Raleway", sans-serif;
                font-size: 2rem;
                font-weight: 900;
                color: rgb(199, 106, 0);

                @media(max-width:600px) {
                    font-size: 1.5rem;
                }
            }

            svg {
                color: rgb(199, 106, 0);
                margin-left: 20px;
                stroke-width: .8px;

                @media(max-width:600px) {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                }
            }

            label {
                font-family: "Raleway", sans-serif;
                font-size: .8rem;
                text-align: start;
                margin: 10px 60px 0 0;
                align-self: flex-end;
                color: rgb(199, 106, 0);
                text-decoration: underline;
                cursor: pointer;
                font-weight: 600;

                @media(max-width:600px) {
                    margin: 10px 5px 0 0;
                }
            }
        }
    }

    .top3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 40px;

        &__titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            h2 {
                font-family: "Raleway", sans-serif;
                font-size: 2rem;
                font-weight: 900;
                color: rgb(199, 106, 0);
                text-align: center;
                margin-right: 10px;

                @media(max-width:600px) {
                    font-size: 1.5rem;
                }
            }

            svg {
                color: rgb(199, 106, 0);
                margin-left: 20px;
                stroke-width: .5px;

                @media(max-width:600px) {
                    width: 30px;
                    height: 30px;
                }
            }

        }

        &__img {
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            img {
                object-fit: cover;
                box-shadow: 10px 10px 10px gray;
                border-radius: 5px;
                width: 300px;
                cursor: pointer;
                @media(max-width:1000px) {
                    width: 200px;
                }
                @media(max-width:600px) {
                    width: 100px;
                }
            }
        }
    }

    .let {
        margin: 50px 0;
        padding: 50px 0;
        box-shadow: 10px 10px 10px 10px gray;

        h2 {
            font-family: "Raleway", sans-serif;
            font-size: 2rem;
            font-weight: 900;
            color: rgb(199, 106, 0);
            text-align: center;
            margin-right: 10px;
            margin-bottom: 40px;

            @media(max-width:600px) {
                font-size: 1.5rem;
            }
        }

        .leitura {
            display: flex;
            align-items: center;
            padding: 0 80px;

            @media(max-width:1000px) {
                padding: 0 10px;
            }

            @media(max-width:600px) {
                flex-direction: column;
            }


            &__pt1 {
                width: 40vw;

                @media(max-width:600px) {
                    width: 80vw;
                }

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            &__pt2 {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 40px;
                padding: 10px 0;
                color: rgb(77, 77, 77);

                @media(max-width:600px) {
                    width: 95vw;
                    margin-left: 0px;
                }

                p {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;

                    @media(max-width:1000px) {
                        text-align: justify;
                    }

                    @media(max-width:600px) {
                        text-align: justify;
                        font-size: .8rem;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 400px;
                    padding: 10px 20px;

                    @media(max-width:1000px) {
                        padding: 10px 0px 10px 20px;
                        height: auto;
                    }

                    @media(max-width:600px) {
                        height: auto;
                    }

                    li {
                        list-style-type: disc;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 400;

                        @media(max-width:600px) {
                            text-align: justify;
                            margin: 5px 0;
                            font-size: .8rem;
                        }

                        strong {
                            color: rgb(1, 1, 85);
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }

    .formulario {
        width: 100vw;
        padding: 70px 0;
        position: relative;
        background-color: rgb(1, 1, 85);
        margin-bottom: 40px;

        @media(max-width:600px) {
            display: flex;
            flex-direction: column;
        }

        h2 {
            position: absolute;
            top: 10px;
            margin: 0 auto;
            font-size: 2rem;
            color: white;
            width: 100%;
            text-align: center;

            @media(max-width:600px) {
                font-size: 1rem;
                width: 80vw;
                margin-left: 10vw;
            }

        }

        button {
            position: absolute;
            bottom: 5px;
            right: 30px;
            background-color: green;
            color: white;
            padding: 5px;
        }

        &__label {
            text-align: center;
            font-size: 1.5rem;
            color: white;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translateX(50%);
            display: none;
        }

        form ul {
            margin: 0 0 0 10vw;
            display: flex;
            width: 80vw;
            justify-content: space-between;
            margin-top: 20px;

            @media(max-width:1000px) {
                margin: auto;
                width: 95vw;
            }

            @media(max-width:600px) {
                flex-direction: column;
            }
        }

        form ul li {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media(max-width:600px) {
                margin-bottom: 10px;
            }
        }

        form ul li input {
            padding: 5px 15px;
            text-align: center;

            @media(max-width:600px) {
                padding: 5px 45px;
            }
        }

        form ul li label {
            color: white;
            font-weight: 600;
            margin-bottom: 5px;
            display: block;
        }
    }
}
