.pesquisa {
    input {
        border-radius: 10px;
        padding-left: 20px;
        width: 400px;
        height: 30px;
        border: none;
        outline: none;
        @media(max-width: 600px) {
            width: 200px;
            padding-left: 20px;
        }
    }
}
