.titulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 99vw;
    margin-top: 5px;
    @media (max-width: 600px) {
        justify-content: space-between;
        width: 100vw;
    }

    img {
        width: 100px;
        border-radius: 50%;

        @media(max-width: 600px) {
            width: 80px;
        }

    }

    .labels {
        margin-left: 100px;
        display: flex;
        justify-content: space-around;

        @media (max-width: 600px) {
            margin-left: 0px;
            justify-content: center;
        }

        label {
            font-size: 1.2rem;
            font-weight: 600;
            color: rgb(1, 1, 85);
            cursor: pointer;
            padding: 0 30px;

            @media (max-width: 1000px) {
                font-size: 1rem;
                padding: 0 10px;
            }

            @media (max-width: 600px) {
                font-size: .7rem;
                padding: 0 10px;
            }

            &:hover {
                text-decoration: underline;
                color: rgb(105, 105, 105);
            }
        }
    }

    .icons {
        display: flex;
        justify-content: space-around;
        width: 100px;
        margin-right: 50px;
        @media (max-width: 600px) {
            justify-content: space-between;
            width: auto;
            margin-right: 10px;

            svg{
                width: 30px;
                height: 30px;
            }
            &__svg2{
                display: none;
            }
        }

        &__sacola {
            &__clique {
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;

                label {
                    font-weight: 600;
                    background-color: rgb(1, 1, 85);
                    padding: 5px 8px;
                    border-radius: 100%;
                    position: absolute;
                    font-size: .8rem;
                    right: 2px;
                    color: white;
                    @media (max-width: 600px) {
                        padding: 5px 8px;
                        font-size: .8rem;
                        right: 2px;
                    }
                }

                svg {
                    color: rgb(1, 1, 85);
                }
            }

        }
    }
}
